<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to {{title }}!</h1>
<form [formGroup]="form" controlErrorContainer>
  <div class="field">
    <div class="control">
      <input type="text" class="input" formControlName="name" placeholder="name">
    </div>
  </div>
  <div class="control">
    <button class="button is-link is-small">Submit</button>
  </div>
</form>

{{ form.getRawValue() | json }}
{{ form.errors | json }}
{{ form.controls['name'].errors | json }}
form.valid - {{ form.valid }}


<router-outlet></router-outlet>
